*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 30px;
    position: relative;
    margin: 30px 0;
    color: black;
}

h1:hover{color: blue;}

.yellowline{
    background-color:rgb(249, 211, 24) ;
    height: 15px;
}

.top content{
    background-color: antiquewhite;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}


label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 20px;
    color: rgb(117, 117, 117);
    cursor: pointer;
    transition: .5s;
    padding: 0 105px;
}
label:hover{
    color: black;
}

.intro{
    text-align: left;
    display: flex;
    justify-content: center;
    width:50%;
    padding:30px;
    font-size:20px;
    margin: auto;
    background-color:white;

}

.line {
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 20px 80px;
  }

.define{
    text-align: left;
    display: flex;
    justify-content: center;
    width:50%;
    padding:30px;
    font-size:20px;
    margin: auto;
    background-color:white;
}

/* .types{
    text-align: left;
    
    width:50%;
    padding:30px;
    font-size:20px;
    margin: auto;
    background-color:white;
} */


/* .DV-gallary1{
    display: flex;
    justify-content: left;
    padding: 30px ;
    margin:  50px;
    background-color: rgb(251, 249, 231);
}

.DV-gallary2{
    display: flex;
    justify-content: left;
    padding: 30px ;
    margin:  50px;
    background-color: rgb(251, 249, 231);
} */

/* .DATAVISUALIZATION{

    
    width: 20%;
    height: 20%;
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    margin: 50px;
    border-radius: 10px;
    

} */
/* .DATAVISUALIZATION img{
    
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin: 20px;
    
} */

.image-grid {
    font-size: 20px;
    justify-self: center;
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}

.image-grid img {
    width: 70%;
    height: 200px;
    border-radius: 8px;
    border: 2px solid #000000; 
}

.subcontainer{
    margin: 30px;
    font-size: 40px;
}



/* .DATAVISUALIZATION img:hover{
   

} */
/* .welcome{
    font-size: 50px;
    margin: 150px 50px;
    padding: 70px;
    background-color: rgb(250, 231, 121);
} */
.about{
    text-align: left;
    
    width:50%;
    padding:30px;
    font-size:20px;
    margin: auto;
    background-color:rgb(252, 247, 227);
    /* font-size: 40px;
    background-color: rgb(246, 215, 130);
    padding: 20px;
    margin: 20px; */
}

#check1:checked ~ .container .welcome,
#check1:checked ~ .container .subcontainer{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check1:checked ~ .container .about{
    opacity: 0;
    transform: scale(0);
    position: absolute
}
#check2:checked ~ .container .subcontainer{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check2:checked ~ .container .welcome,
#check2:checked ~ .container .about{
    opacity: 0;
    transform: scale(0);
    position: absolute
}
#check3:checked ~ .container .about{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check3:checked ~ .container .welcome,
#check3:checked ~ .container .subcontainer{
    opacity: 0;
    transform: scale(0);
    position: absolute
}
#check1:checked ~ .container .define{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check2:checked ~ .container .define,
#check3:checked ~ .container .define{
    opacity: 0;
    transform: scale(0);
    position: absolute
}

#check1:checked ~ .container .intro{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check2:checked ~ .container .intro,
#check3:checked ~ .container .intro{
    opacity: 0;
    transform: scale(0);
    position: absolute
}


#check1:checked ~ .container .types{
    opacity: 1;
    transform: scale(1);
    position: relative;

}
#check2:checked ~ .container .types,
#check3:checked ~ .container .types{
    opacity: 0;
    transform: scale(0);
    position: absolute
}